acc-core/src/main/resources/XSD/AccountDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iexceed.com/AccountDetails"
	xmlns:tns="http://www.iexceed.com/AccountDetails"
	elementFormDefault="qualified">

	<complexType name="AccountDetails">
		<sequence>
			<element name="AccountNum" type="string"></element>
			<element name="AccountName" type="string"></element>
		</sequence>
	</complexType>
</schema>